@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Cinzel:wght@400..900&family=Crafty+Girls&family=Merienda:wght@300..900&family=Nosifer&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&family=Staatliches&family=Trade+Winds&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor1:#26EBAF;
    --cor2:#26EB29;
    --cor3:#1565ba;
    --cor4:#166B51;
    --cor5:#18701A;
    --fonte1: 'Oswald', Arial, Helvetica, sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

html, body{
    min-height: 100vh;
    background-color: white;
}
main{
    min-width: 300px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
}

nav{
    padding-top: 10px;
    background-image: linear-gradient(to left, var(--cor4),var(--cor1), var(--cor4));
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav > a:hover{
    background-color: rgba(255, 255, 255, 0.479);
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.7s;
}

header{
    font-family: var(--fonte1);
    font-size: 20px;
    text-align: center;
    padding: 30px;
    padding-bottom: 40px;
    background-image: linear-gradient(to left, var(--cor4),var(--cor1), var(--cor4));
    
}


section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10px;
    font-size: 20px;
}

section > ul{
    padding-left: 30px;
}

.nos{
    padding-top: 40px;
    padding-bottom: 20px;
}

#etapas{
    padding-top: 10px;
}

.imagem{
    padding-top:10vh;
    padding-bottom: 50vh;
    padding-left: 10px;
    background-color: rgba(54, 48, 48, 0.903);
    background-attachment: fixed;
}

.imagem > section{
    background-color: #2a202089;
    font-size: 20px;
    text-align: center;
    padding-top:10vh;
    padding-bottom: 50vh;
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
    color: white;
}

.imagem > section > p{
    padding: 20px;
}

#img1{
    background-image: url(../imagem2.jpg);
    background-position: center center;
    background-size: cover;
    padding: 0px;
}

.valores{
    background-color: var(--cor4);
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.valores> h2{
    font-size: 50px;
    text-align: center;
    padding-bottom: 40px;
}
.valores > h3{
    padding-bottom: 10px;
}

.valores > p{
    padding-bottom: 10px;
    padding-right: 10px;
}

#txtarea{
    border-radius: 40px;
    height: 30px;
    width: 200px;
}

#cal{
    font-weight: 600;
    height: 30px;
    width: 100px;
}

.mvv{
    padding-top: 20px;
}

.mvv > h2{
    padding-top: 30px;
}

#servicos > h2{
    padding: 20px;
    text-align: center;
    font-size: 40px;
}

.container{
    position: relative;
    display: inline-block;
    height: 150px;
    width: 420px;
    text-align: center;
    margin: 25px;
    
}

.container:hover .flip{
    transform: rotateY(180deg);
}

.flip{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;
}

.frente{
    background-color: var(--cor1);
}

.frente > img{
    width: 40px;
    padding-top: 20px;
}

.tras{
    background-color: var(--cor3);
    color: white;
    transform: rotateY(180deg);
}

.tras > p{
    padding: 25px;
}

.frente,.tras{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.173);
    backface-visibility: hidden;
}


.localizacao{
    text-align: center;
    padding-top: 20px;
    background-color: rgba(169, 169, 169, 0.268);
    height: 600px;
}

.localizacao > h2{
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.localizacao > div{
    width: 00px;
}



footer{
    background-color: var(--cor3);
    color: white;
    padding: 30px;
    text-align: center;
}